/* APP-WIDE */
/* Shared base global styles */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  /* choosing not to add background here since we may add dark mode feature and need users to switch later on  */
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}
