/* global styles: CSS variables */

/* @import url('https://fonts.googleapis.com/css?family=Open Sans'); */


:root {
  /*===========COLORS===============*/
  /*used with color, background-color,
   [and so on] properties*/

  --color-shade-black: #000000;
  --color-shade-white: #FFFFFF;

  --color-error-50: #FFF5F5;
  --color-error-100: #FF8A8A;
  --color-error-150: #FF0000; /*main*/
  --color-error-200: #A10000;
  --color-error-250: #5E0000;

  --color-warning-50: #FFFFE5;
  --color-warning-100: #FFFF8F;
  --color-warning-150: #FFFF00; /*main*/
  --color-warning-200: #CCCC00;
  --color-warning-250: #676700;

  --color-success-50: #F3FFF3;
  --color-success-100: #6FFF6F;
  --color-success-150: #00E100; /*main*/
  --color-success-200: #00AA00;
  --color-success-250: #005100;

  --color-primary-50: #ECF6FF;
  --color-primary-100: #6ABAFF;
  --color-primary-150: #0275D8; /*main*/
  --color-primary-200: #013F74;
  --color-primary-250: #012442;

  --color-neutral-50: #FDFDFD;
  --color-neutral-100: #E1E6EA;
  --color-neutral-150: #C1CDD7;
  --color-neutral-200: #889199;
  --color-neutral-250: #616E79;
  --color-neutral-300: #3D4348;
  --color-neutral-350: #1F2428;
  --color-neutral-400: #121518; /*main*/

  /*==================================*/



  /*===========TYPOGRAPHY==============*/
  /*   used with the font property    */
  /* https://www.w3schools.com/cssref/pr_font_font.php */
  /* --type-style-format: font-weight font-size/line-height font-family */

  --type-semi-bold-h1: 600 48px/65.37px 'Open Sans';
  --type-semi-bold-h2: 600 34px/46.30px 'Open Sans';
  --type-semi-bold-h3: 600 24px/32.68px 'Open Sans';
  --type-semi-bold-h4: 600 20px/27.24px 'Open Sans';
  --type-semi-bold-h5: 600 18px/24.51px 'Open Sans';
  --type-semi-bold-h6: 600 16px/21.79px 'Open Sans';
  --type-semi-bold-h7: 600 14px/19.07px 'Open Sans';
  --type-semi-bold-h8: 600 12px/16.34px 'Open Sans';

  --type-bold-h1: 700 48px/65.37px 'Open Sans';
  --type-bold-h2: 700 34px/46.30px 'Open Sans';
  --type-bold-h3: 700 24px/32.68px 'Open Sans';
  --type-bold-h4: 700 20px/27.24px 'Open Sans';
  --type-bold-h5: 700 18px/24.51px 'Open Sans';
  --type-bold-h6: 700 16px/21.79px 'Open Sans';
  --type-bold-h7: 700 14px/19.07px 'Open Sans';
  --type-bold-h8: 700 12px/16.34px 'Open Sans';

  --type-extra-bold-h1: 800 48px/65.37px 'Open Sans';
  --type-extra-bold-h2: 800 34px/46.30px 'Open Sans';
  --type-extra-bold-h3: 800 24px/32.68px 'Open Sans';
  --type-extra-bold-h4: 800 20px/27.24px 'Open Sans';
  --type-extra-bold-h5: 800 18px/24.51px 'Open Sans';
  --type-extra-bold-h6: 800 16px/21.79px 'Open Sans';
  --type-extra-bold-h7: 800 14px/19.07px 'Open Sans';
  --type-extra-bold-h8: 800 12px/16.34px 'Open Sans';

  --type-regular-sub-h1: 400 18px/24.51px 'Open Sans';
  --type-regular-sub-h2: 400 16px/21.79px 'Open Sans';

  --type-medium-sub-h1: 500 18px/24.51px 'Open Sans';
  --type-medium-sub-h2: 500 16px/21.79px 'Open Sans';

  --type-regular-body-text1: 400 18px/24.51px 'Open Sans';
  --type-regular-body-text2: 400 16px/21.79px 'Open Sans';
  --type-regular-body-text3: 400 14px/19.07px 'Open Sans';
  --type-regular-body-text4: 400 12px/16.34px 'Open Sans';

  --type-medium-body-text1: 500 18px/24.51px 'Open Sans';
  --type-medium-body-text2: 500 16px/21.79px 'Open Sans';
  --type-medium-body-text3: 500 14px/19.07px 'Open Sans';
  --type-medium-body-text4: 500 12px/16.34px 'Open Sans';
 
  /*==================================*/



  /*===========UNDERLINE (USED WITH TYPOGRAPHY)==============*/
  /*   used with the text-decoration property    */
  /* https://www.w3schools.com/cssref/pr_text_text-decoration.php */
  /* --underline-style-format: text-decoration-line text-decoration-color */

  --underline-neutral-50: underline #FDFDFD;
  --underline-neutral-100: underline #E1E6EA;
  --underline-neutral-150: underline #C1CDD7;
  --underline-neutral-200: underline #889199;
  --underline-neutral-250: underline #616E79;
  --underline-neutral-300: underline #3D4348;
  --underline-neutral-350: underline #1F2428;
  --underline-neutral-400: underline #121518; /*main*/
 
  /*==================================*/

}