/* CODE-COLLABO SUBCOMMUNITY only */
/* For css specific to only PROJECTS page */
/* Imported as projects into the projects page when we need it */

.test {
    background: var(--color-primary-150);
    color: var(--color-shade-white);
}

.container {
    display: flex;
    flex-direction: column;
}

.containerMobile {
    margin-top: var(--spacing-16);
}

.filter {
    align-self: flex-end;
    margin-bottom: var(--spacing-40);
}

.cardDisplay {
    margin-bottom: var(--spacing-65);
}

.pagination {
    align-self: center;
}

/* select elements */
.select {
    padding: 12px 26px;
    border: 1px solid #C1CDD7;
    border-radius: 10px;
    margin-left: 10px;
}
