/* CODE-COLLABO SUBCOMMUNITY only */
/* For css specific to only PROJECTS page */
/* Imported as projects into the projects page when we need it */


.cardsArea {
    margin: 0 auto;
    width: calc(100% - 30px);
}

.selectElemMobile {
  padding: 13px 26px;
  background: var(--color-neutral-100);
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
}

/* LARGE SCREENS */
@media screen and (min-width: 600px) {
    .cardsArea {
        width: calc(100% - 10px);
        padding: 40px 0 65px 0;
    }

    .paginationArea {
        width: fit-content;
        padding: 8px;
    }

    /* Temporary styles? */
    .selectElem {
        padding: 13px 26px;
        background: var(--color-neutral-100);
        margin-left: 10px;
        border-radius: 10px;
    }
}

/* VERY LARGE SCREENS */
@media screen and (min-width: 1440px) {

}
