/* COLLABO COMMUNITY */
/* For css specific to only 404 page */
/* Imported as mainApp404 into the custom404 component when we need it */

.test {
    background: var(--color-shade-black);
    color: var(--color-yellow);
    font-size: 18px;
    padding: 6px 0;
}