/* COLLABO COMMUNITY */
/* For css specific to only HOME page */
/* Imported as home into the home page when we need it */

.test {
    background: var(--color-shade-black);
    color: var(--color-yellow);
    font-size: 18px;
    padding: 6px 0;
}