/* Base styles go here: Not to be adjusted */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100vh;
  background: var(--dark);
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}


/* Other styles go here: Adjustable 
   (test styles: To be removed when 
   project really starts) 
*/

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.white-bg-card {
  background: white;
  width: 300px;
  height: 100px;
}

// TODO 1 of 3: make global css contain imports to other global css styles
        // Like in your pluralsight clone  